﻿@using Core
@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Top Cars";
}

<h2 class="page-title">Top 10 Cars from 1996</h2>

@await Html.PartialAsync("_LoginPromptModal")

<div class="cars-grid">
    @foreach (var car in Model)
    {
        @await Html.PartialAsync("_CarCard", car)
        // Рендерира всяка карта на кола чрез partuial view

        //<partial name="_CarCard.cshtml"></partial>   //друг вариант да добавя на partial view
    }
</div>


<!--
@@modal CarViewModel
<form method="post" asp-antiforgery="false" >
    <label asp-for="CarViewModel.Make">Car Make</label>
    <input asp-for="CarViewModel.Make"/>
    <button type="submit">
        <div class="btn btn-light">Submit</div>
    </button>

</form>
-->
