@model IEnumerable<WebApp.Models.CarViewModel>

@{
    ViewData["Title"] = "Top Cars";
}

<h2 class="page-title">Top 10 Cars from 1996</h2>

<div class="card-grid">
    @foreach (var car in Model)
    {
        @await Html.PartialAsync("_CarCard", car)   // Рендерира всяка карта на кола чрез partuial view
    }
</div>

<!-- Modal Window -->
<div id="carModal" class="modal">
    <div class="modal-content">
        <img id="modalImage" src="" alt="Car Image" />
        <h3 id="modalTitle"></h3>
        <div id="modalDetails"></div>
    </div>
</div>



