<div class="modal fade" id="loginPromptModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Моля, влезте в профила си</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Тази функция е достъпна само за регистрирани потребители.</p>
                <a href="/Identity/Account/Login" class="btn btn-primary me-2">Влез</a>
                <a href="/Identity/Account/Register" class="btn btn-secondary">Регистрация</a>
            </div>
        </div>
    </div>
</div>
